.shopping-cart {
  background-color: var(--primary-color);
  width: 100%;
  max-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80px;
  right: -100%;
  transition: 0.4s;
  z-index: 0;
  padding: 20px;
}

.shopping-cart.active {
  right: 0;
  transition: 0.4s;
  cursor: default;
}
