.movie-card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  background-color: #444;
  position: relative;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  overflow: hidden;
  margin: 0 0 20px;
}

.movie-card-wishlist-button {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 30px;
  cursor: pointer;
}

.movie-card-wishlist-button-description {
  display: none;
}

.movie-card-shopping-cart-button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}

.movie-card-shopping-cart-description {
  display: none;
}

.movie-card-genres-and-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 8px;
}

.movie-card-genres-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.movie-card-genres {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: var(--font-secondary-color);
  border-radius: 6px;
  padding: 0 10px;
  height: 25px;
  margin: 2px 0;
}

.overview {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  justify-content: center;
  position: absolute;
  height: 100%;
  top: 100%;
  transition: 0.4s;
  z-index: 1;
}

.overview.active {
  top: 0;
  transition: 0.4s;
}

.movie-card-window-close-button {
  font-size: 30px;
  margin-bottom: 10px;
  display: flex;
  margin-right: 0;
  margin-left: auto;
}

.movie-card-window-close-button:hover {
  cursor: pointer;
}

.movie-card-overview {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.movie-card-description {
  height: 150px;
  overflow: auto;
}

.movie-card-value:first-of-type {
  position: absolute;
  bottom: 7px;
  left: 15px;
  font-size: 20px;
  color: #aaa;
}

.movie-card-value-price {
  font-size: 26px;
  color: #ff0;
  font-weight: bold;
}

.tap-to-learn-more {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: #aaa;
}

@media (min-width: 768px) {
  .movie-card-wishlist-button-description {
    display: flex;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: var(--indicators);
    color: rgb(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    font-size: 14px;
    padding: 10px;
    width: 140px;
    border-radius: 6px;
  }

  .movie-card-shopping-cart-description {
    display: flex;
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: var(--indicators);
    color: rgb(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    font-size: 14px;
    padding: 10px;
    width: 140px;
    border-radius: 6px;
  }

  .movie-card-wishlist-button:hover .movie-card-wishlist-button-description {
    visibility: visible;
    opacity: 1;
  }

  .movie-card-shopping-cart-button:hover .movie-card-shopping-cart-description {
    visibility: visible;
    opacity: 1;
  }
}
