.main-container {
  padding: 90px 10px 20px;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  width: 35px;
  height: 35px;
  border: 2px solid var(--font-primary-color);
  font-weight: bold;
  color: var(--font-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  transition: 0.3s;
}

.pagination-item:hover {
  cursor: pointer;
  scale: 120%;
}

.pagination-item.active {
  background-color: var(--primary-color);
}

.pagination-link-active {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.arrow-previous {
  color: var(--font-primary-color);
}

.arrow-next {
  margin-left: 10px;
  color: var(--font-primary-color);
}

.arrow-inactive {
  color: var(--inactive);
}

.arrow-active {
  color: var(--primary-color);
}

.pagination-arrow-container {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.arrow-previous:hover,
.arrow-next:hover {
  cursor: pointer;
}

.arrow-inactive:hover {
  cursor: default;
}

.home-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

@media (min-width: 576px) {
  .main-container {
    padding: 90px 20px 0;
  }

  .movies-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px 20px;
  }
}

@media (min-width: 768px) {
  .main-container {
    padding: 100px 20px 10px;
  }

  .movies-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px 20px;
  }
}

@media (min-width: 992px) {
  .main-container {
    padding: 100px 30px 10px;
  }

  .movies-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px 20px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    padding: 110px 30px 20px;
    margin: 0 auto;
    max-width: 1700px;
  }

  .movies-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px 30px;
  }
}
