.shopping-cart-item-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  border-top: 1px solid #fff;
  padding-top: 10px;
}

.shopping-cart-item-container:first-of-type {
  border-top: none;
  padding-top: none;
}

.shopping-cart-item-image {
  height: 60px;
}

.shopping-cart-item-title {
  height: 60px;
  width: 180px;
  display: flex;
  align-items: center;
  margin: 0 10px 0 20px;
}

.shopping-cart-item-price {
  margin-right: 20px;
  width: 80px;
}

.shopping-cart-item-trash {
  cursor: pointer;
  min-width: 20px;
  width: 20px;
}
