* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

html {
  background-color: var(--secondary-color);
  color: var(--font-primary-color);
}

:root {
  --primary-color: #c3083d;
  --secondary-color: #6e2433;
  --font-primary-color: #fefefe;
  --font-secondary-color: #404040;
  --placeholder: #aaa;
  --glow: #fff;
  --shadow: #000;
  --inactive: #666;
}

li {
  list-style-type: none;
}
